.footer {
  flex-shrink: 0;
  font-family: 'Hind Vadodara', sans-serif;
  background:palevioletred;
}

.mat-icon {
  font-size: 24px !important;
  transform: scale(1);
  vertical-align: middle;
  margin-right: 10px;
}

.icon-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.mat-grid-tile .mat-grid-tile-header .mat-grid-tile .mat-grid-tile-footer  {
  background:rgb(255, 195, 195)
}

h2, h3, h4 {
  color : purple;
}

.mat-icon {
  color: red;
}

.col-item-3 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  i {
    color: purple;
  }
}

/* Responsive: */

@media only screen and (min-width: 640px) {
  .container {
    display: flex;
    justify-content: space-around;
  }
}

.container {
  max-width: 100%;
  margin: 2px auto 0px auto;
}

* {
  box-sizing: border-box;
}