<!-- Add Footer Here -->

<div class="container footer">


  <div class="col col-item-3" role="main">
    <a href="https://www.instagram.com/millioncolours1/" title="Instagram" aria-hidden="false" oncontextmenu="return false"> 
      <i class="fab fa-2x fa-instagram" title="Instagram" aria-hidden="false" oncontextmenu="return false"></i>
    </a>
  </div>

  <div class="col col-item-3" role="main">
      <div 
        class="fb-like"
        data-colorscheme="light"
        data-width="450"
        data-share="true"
        data-href="https://www.facebook.com/Milli-On-Colours-2245043182418032/?ref=page_internal" 
        data-size="small"
        data-layout="button_count"
        data-action="like"
        data-show-faces="true">
      </div>
  </div>

  
  <div class="col col-item-3" role="main">
    <a href="https://www.facebook.com/Milli-On-Colours-2245043182418032/services/?ref=page_internal" title="Facebook" aria-hidden="false" oncontextmenu="return false">
    <i class="fab fa-2x fa-facebook" title="Facebook" aria-hidden="false" oncontextmenu="return false"></i>
    </a>
</div>
  
</div>



<!-- <mat-grid-list cols="3" [rowHeight]="'100px'" [gutterSize]="'1px'">
  
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-grid-tile-footer>
      <div
          class="fb-like"
          data-colorscheme="light"
          data-share="true"
          data-href="https://www.facebook.com/Milli-On-Colours-2245043182418032/?ref=page_internal" 
          data-width=""
          data-size="small"
          data-layout="button_count"
          data-action="like"
          data-show-faces="true">
      </div>
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-grid-tile-footer>
      <span mat-line><h3>Mobile: 07572 775710</h3></span>
      <mat-icon>phone</mat-icon>
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-grid-tile-footer>
      <span mat-line><h3>Email: info@milli-on-colours.co.uk</h3></span>
      <mat-icon>mail</mat-icon>
    </mat-grid-tile-footer>
  </mat-grid-tile>

</mat-grid-list> -->
