<div [@fadeInOut] class="container">


    <div class="col col-item-1" role="main">
      <strong>About Me</strong><br>
      Home salon and mobile hairdresser with 15 years of
      salon experience having a Wella Master Colour Expert qualification, plus NVQ
      level 3 in hairdressing.
    </div>

</div>

<div [@EnterLeave] class="container">


    <p class="col col-item" role="main">
      <strong>About:</strong><br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quisquam culpa voluptatibus commodi, placeat
      iusto, maiores dolorum animi optio suscipit labore, fugiat recusandae hic! Laboriosam quod, reprehenderit iste
      officiis quidem.
    </p>
    <p class="col col-item" role="main">
      <strong>Side: 1</strong><br> Complementary content.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nihil ea nisi maxime aperiam quia placeat modi sequi
      vitae. Saepe soluta officia pariatur et impedit!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi nostrum eum quos, exercitationem libero ipsum
      a maiores fugit provident dicta quibusdam iste hic eaque alias!
    </p>

</div>


<div class="container">


    <p class="col col-item" role="main">
      <strong>About:</strong><br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quisquam culpa voluptatibus commodi, placeat
      iusto, maiores dolorum animi optio suscipit labore, fugiat recusandae hic! Laboriosam quod, reprehenderit iste
      officiis quidem.
    </p>
    <p class="col col-item" role="main">
      <strong>Side: 2</strong><br> Complementary content.
    </p>

</div>


<div class="container">


  <p class="col col-item-3" role="main">
    <strong>About: 1</strong><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quisquam culpa voluptatibus commodi, placeat
    iusto, maiores dolorum animi optio suscipit labore, fugiat recusandae hic! Laboriosam quod, reprehenderit iste
    officiis quidem.
  </p>
  <p class="col col-item-3" role="main">
    <strong>Side: 2</strong><br> Complementary content.
  </p>

    <p class="col col-item-3" role="main">
      <strong>About: 3</strong><br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quisquam culpa voluptatibus commodi, placeat
      iusto, maiores dolorum animi optio suscipit labore, fugiat recusandae hic! Laboriosam quod, reprehenderit iste
      officiis quidem.
    </p>

</div>
