/* Layout: */

.col {
  padding: 2px;
  margin: 2px;
  background: rgb(211, 212, 214);
  min-height: 200px;
}

.col-item-1 {
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: calc(100% - 30px);
}

.col-item {
   padding: 20px;
   margin-bottom: 20px;
   flex-basis: calc(50% - 30px);
}

.col-item-3 {
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: calc(33% - 30px);
}

/* Responsive: */

@media only screen and (min-width: 640px) {
  .container {
    display: flex;
    justify-content: space-around;
  }
}

.container {
  max-width: 100%;
  margin: 0px auto 0px auto;
}



* {
  box-sizing: border-box;
}





/* .mat-card {
  background-color: transparent;
}

section div p {
  color: whitesmoke;
  font-size: 2vw;
  font-family: 'Syncopate', sans-serif;
  text-shadow: 1px 1px 1px purple;
  margin: 30px 10px;
  text-align: center;
}

section div+p {
  color: #3f51b5;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

.mat-tab-group {
  text-align: center;
}

.mat-tab-group p {
  padding-top: 10px;
  color: #ff4081 !important;
}

.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: deeppink;
  height: 4px;
} */
