.sidenav-container {
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

// Required for footer positioning
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Required for footer positioning
.content {
  flex: 1;
}

.main {
  display: {
    flex: 2 0px
  }
  flex-direction: column;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: purple;
  color: beige;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

mat-toolbar {
  min-height: 10vh;
  border-radius: 1px;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

.flex-spacer {
  flex: 1 1 auto;
}

.nav-icon {
  padding: 0 14px;
}

@media only screen and (max-width: 640px) {
  .nav-svg {
    visibility: hidden;
  }
}

.nav-svg {
  padding: 0 14px;
}

.nav-svg.title {
  color: rgb(236, 169, 210);
}

.nav-card {
  max-width: 250px;
}



// Fancy font for title .. if we want it
h1 {
  display: inline-block;
  font-size: 2.6vh;
  padding: 0px;
  letter-spacing: 2px;
  font-family: 'Syncopate', sans-serif;
  text-transform: uppercase;
  text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.15);
  background: radial-gradient(circle farthest-corner at center center,
    pink,
    purple) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



// Alternative Fancy font for title .. if we want it
/* h1 {
color: black !important;
font-size: 2.0em;
text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.15);
background-image: -webkit-linear-gradient(black,white);
margin: 30px 10px;
background-clip: merge;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
} */
