<mat-sidenav-container class="sidenav-container">

  <!--
    This is the side navigation menu at LHS of screen
   -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'push'">
    <!--
      Use this to auto open if changing to small screen
      [opened]="(isHandset$ | async)"

    @Input()
    mode: 'over' | 'push' | 'side'
    -->

    <mat-toolbar colour="primary">
      <mat-icon svgIcon="scissors" class="nav-svg"></mat-icon>Menu
    </mat-toolbar>

    <mat-card class="nav-card">
      <mat-card-header>
        <div mat-card-avatar class="nav-header-image"></div>
        <mat-card-title>Melissa</mat-card-title>
        <mat-card-subtitle>Master Colour Expert</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-lg-image src="/assets/images/Logo_Upscaled.png" alt="Milli-On-Colours">
      <mat-card-content>
        <div class="mat-body-2">
          Home salon and mobile hairdresser with 15 years of
          salon experience having a Wella Master Colour Expert qualification, plus NVQ
          level 3 in hairdressing.
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div
          class="fb-like"
          data-colorscheme="light"
          data-share="true"
          data-href="https://www.facebook.com/Milli-On-Colours-2245043182418032/?ref=page_internal" 
          data-width=""
          data-size="small"
          data-layout="button_count"
          data-action="like"
          data-show-faces="true">
      </div>
      </mat-card-actions>
    </mat-card>


    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" (click)="drawer.close()">
        <mat-icon class="nav-icon">home</mat-icon>Home
      </a>
      <a mat-list-item routerLink="home" fragment="prices" (click)="drawer.close()">
        <mat-icon class="nav-icon">view_list</mat-icon>Prices
      </a>
      
<!--  <a mat-list-item routerLink="/contact" (click)="drawer.close()">
        <mat-icon class="nav-icon">phone</mat-icon>Contact
      </a> 
-->
      
    </mat-nav-list>

  </mat-sidenav>


  <!--
    This is the main navigation menu at top of screen
   -->
  <mat-sidenav-content class="page-wrap">

    <mat-toolbar color="accent">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Fancy font  -->
      <h1>{{ title }}</h1>

      <img src='/assets/svg/wella-logo.svg' alt="Error Loading" width="80px" class="nav-svg" />

      <span class="flex-spacer"></span>
      <div *ngIf="!(isHandset$ | async)">

        <a mat-button routerLink="home">
          <mat-icon class="nav-icon">home</mat-icon>Home
        </a>
        <a mat-button routerLink="home" fragment="prices">
          <mat-icon class="nav-icon">view_list</mat-icon>Prices
        </a>
<!--    <a mat-button routerLink="/contact">
          <mat-icon class="nav-icon">phone</mat-icon>Contact
        </a> 
-->
      </div>

    </mat-toolbar>

    <!-- Add Router Content Here -->
    <!-- content class uses flex to push footer to bottom of screen -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <!-- Add Footer Here -->
    <app-footer>

    </app-footer>

  </mat-sidenav-content>


</mat-sidenav-container>
