#content {
  overflow: visible;
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Hind Vadodara', sans-serif;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  width: 100%;
}

#container-image {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(102, 102, 238, 0.15), rgba(255, 0, 0, 0.80)),
    url('/assets/images/style-6.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}
