// Fonts
@import url('https://fonts.googleapis.com/css?family=Syncopate:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Crimson+Text:400,400italic,700italic,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('http://fonts.googleapis.com/css?family=Hind+Vadodara');

// Material Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~swiper/swiper-bundle.min.css';

html,
body {
  height: 100%;
}


/* Use to DEBUG GHOST Elements ..
* {
  outline: solid #f00 1px !important;
}
*/

body {
  margin: 0;
  font-family: 'Hind Vadodara', 'Poppins', 'Roboto', 'Chewy', sans-serif, cursive;
}


/* Gradients */
.gradient {

  /* Fallback (could use .jpg/.png alternatively) */
  background-color: red;

  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  // background-image: url(assets/svg/logo.svg);

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear, left top, right top, from(red), to(#f06d06));

  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(left, red, #f06d06);

  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(left, red, #f06d06);

  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(left, red, #f06d06);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(to right, red, #f06d06);

}
