.prices-table {
  width: 90%;
  margin: auto;
  border: 0;  
  font-size: 1.0em;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #888;
  font-family: 'Hind Vadodara', sans-serif;
  tr {
    height: 20px;
    .td-s {
      width: 20%;
      height: 20px;
      text-align: right;
      font-size: 1.2em;
      font-weight: bold;
    }

    td {
      width: 80%;
      height: 20px;
    }
  }
}


.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.icon-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.mat-card {
  max-width: 100%;
}

.mat-card-title {
  font-family: 'Hind Vadodara';
  font-weight: bolder;
}

.mat-card-avatar {
  background-image: url(/assets/images/Awards-Avatar.jpg);
  background-size: cover;
}

.mat-card-avatar-swiper {
  background-image: url(/assets/images/Melissa_Icon.png);
  background-size: cover;
}

mat-card {
  margin: 1px;
  object-fit: cover; 
  /*this makes the image in src fit to the size of specified below*/
  width: 100%;
  height: 100%;
  /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  img {
    height: fit-content; //so that it takes up full space
    max-height: 500px !important; // this prevents the image from being extremely big
    object-fit: cover; 
    object-position: center; /* this centers and crops the image so that it doesn't break the aspect ratio */
  }

}


#container {
  background-image: linear-gradient(rgba(137, 137, 238, 0.15), rgba(255, 0, 0, 0.80)),
    url('/assets/images/moc-jumbotron.jpg');
  z-index: -1;
  top: 0px;
  left: 50%;
  min-height: 480px;
  height: 50%;
  width: 50%;
  position: fixed;
  background-size: cover;
  background-size: 50%, 50%;
  background-repeat: no-repeat;
}

/* banner */
.main-top {
  background: url('/assets/images/moc_jumbotron.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 1;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}

.callout-header {
  padding-top: 0px;
  padding-left: 60px;
  font-size: 7vw !important;
  text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.15);
  font-weight: 900;
}

.callout-cols-title {
  margin-left: 6px;
  padding: 6px;
  font-size: 38px;
  font-weight: 300;
  font-family: Roboto;
  letter-spacing: 1px;
  text-transform: capitalize;
}

p {
  margin-left: 6px;
  padding: 6px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #888;
  font-family: 'Hind Vadodara', sans-serif;
}



p.sub-title-top {
  padding: 6px;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

p.slide-info {
  margin-top: 60px;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  color:whitesmoke;
  background-color: gray;
  opacity: 0.6;
}

h5 {
  padding-top: 6px;
  padding-left: 6px;
}

.let {
  letter-spacing: 4px;
  text-transform: capitalize;
}

.text-wh {
  color: rgb(240, 240, 240);
}

.text-da {
  color: rgb(63, 61, 61);
}


/* Flex Layout Setup  */

/* Responsive: */
@media only screen and (min-width: 640px) {
  .container {
    display: flex;
    justify-content: space-around;
  }
}

.container {
  max-width: 100%;
  margin: 00px auto 0px auto;
}

.col {
  padding: 0px;
  margin: 0px;
  background: transparent;
  min-height: 10px;
}

.column {
  padding: 2px;
  margin: 2px;
  background: whitesmoke;
  min-height: 200px;
}

.column-4 {
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: calc(25% - 30px);
}

.column-2 {
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: calc(50% - 30px);
}

.column-1 {
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: calc(100% - 30px);
}

.svg-logo {
  max-height: 80vh;
  margin-top: 5vh;
  border: solid 1px gray;
}

* {
  box-sizing: border-box;
}





/* Materialize CSS for Parallax */

/* --------------------------------------------- */
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}






/* @media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
} */

/* --------------------------------------------- */
// Materialize overrides

.parallax-container {
  min-height: 580px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .8);
}

.parallax-container .section {
  width: 100%;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

}
