<!-- Main Banner with Animated Callout -->
<div class="main-top">
  <div class="container">
      <div class="col column-1">
        <div [@calloutAnim]>
          <h3 class="callout-header let">
            <div class="callOut">
              <span class="text-wh">Ultimate</span>
            </div>
            <div class="callOut">
              <span class="text-secondary">Salon</span>
            </div>
            <div class="callOut">
              <span class="text-wh">Experience</span>
            </div>
          </h3>
        </div>
      </div>
  </div>
</div>

<!-- Two Columns About Me  -->
<div class="container">

    <div class="col column-2">
      <p class="sub-title-top">Welcome to my web site</p>
      <h1 class="callout-cols-title">I'm<span [ngStyle]="{'color': 'red'}"> Milli </span>your Certified Professional Hair Colourist
      </h1>
    </div>

    <div class="col column-2">
      <p class="sub-title-top">
        I am a Wella Master Colour Expert and have an NVQ Level 3 in hairstyling
        with a real passion for colouring!
        <br /> <br />
        So you can be completely confident, and to make sure you achieve the perfect
        colour, I always offer a <strong>free</strong> personal consultation.
        <br /> <br />
        You will find many recommendations and photographs in the gallery and rest
        assured all work is done to the very highest of standards, either in your own home or
        my <strong>new Salon.</strong>
      </p>
    </div>


</div>

<!-- Two Example Styles -->
<div class="container">


    <div class="col column-2">
      <mat-card class="mat-card">
        <mat-card-header>
          <div mat-card-avatar class="mat-card-avatar"></div>
          <mat-card-title>Style One</mat-card-title>
          <mat-card-subtitle>You can have hair Like this ..</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/style-6.jpg">
        <mat-card-content>
          <p>
            
          </p>
        </mat-card-content>
        <mat-card-actions>
            <div 
              class="fb-like"
              data-colorscheme="light"
              data-share="false"
              data-href="http://wwww.milli-on-colours/assets/images/style-6.jpg " 
              data-width=""
              data-size="small"
              data-layout="button_count"
              data-action="recommend"
              data-show-faces="true">
            </div>  
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col column-2">
      <mat-card class="mat-card">
        <mat-card-header>
          <div mat-card-avatar class="mat-card-avatar"></div>
          <mat-card-title>Style Two</mat-card-title>
          <mat-card-subtitle>Or hair Like this ..</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/style-5.jpg">
        <mat-card-content>
          <p>
            
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div
          class="fb-like"
          data-colorscheme="light"
          data-share="false"
          data-href="http://wwww.milli-on-colours/assets/images/style-5.jpg " 
          data-width=""
          data-size="small"
          data-layout="button_count"
          data-action="recommend"
          data-show-faces="true">
        </div> 
        </mat-card-actions>
      </mat-card>

    </div>

</div> <!-- container -->

<!-- New Styles Column and Carousel -->
<div class="container">
    <div class="col column-1">
      <h1 class="callout-cols-title">Check out some of<span
          [ngStyle]="{'color': 'red', 'padding': '10px'}">Melissa's</span>
        latest styles....
      </h1>
      <p>
        Please take a look a the gallery, which will demonstrate a range of styles including
        full foils, bridal and balayage.  These images were taken with the kind permission of
        my loyal clients - thanks very much!
        
        I rely upon recommendations and your kind feedback .. <strong>keep it coming.</strong>
      </p>
      <p>
        <b>Melissa</b>
      </p>
      <div class="col col-item-3" role="main">
        <div style="margin: 0 auto; width: 100%;"
          class="fb-like"
          data-colorscheme="light"
          data-share="true"
          data-href="https://www.facebook.com/Milli-On-Colours-2245043182418032/?ref=page_internal" 
          data-size="small"
          data-layout="button_count"
          data-action="like"
          data-show-faces="true">
        </div>
    </div>  
   </div> 
  </div>

  <!-- Swiper Carousel -->
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      
      <div class="swiper-slide" *ngFor="let slide of slides; let i = index">
        <mat-card class="mat-card">
          <mat-card-header>
            <div mat-card-avatar class="mat-card-avatar-swiper"></div>
            <mat-card-title><span [ngStyle]="{'color': 'gray', 'padding': '10px'}">{{ slide.slideTitle }}</span></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="slide.slideURL">
          <mat-card-content>
            <p>{{ slide.slideInfo }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    
     </div>
    <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>

<!-- Slide In Animation and RHS Column Text -->
<div class="container">
    <div class="col column-2">
      <h3 class="callout-cols-title">Opening <span
          [ngStyle]="{'color': 'red'}">Times</span>
      </h3>
        <p>I am very flexible, please ring or email for an Appointment.</p>
        <p>Whether you prefer pampering in my puprpose-built salon or mobile just let me know!</p>
        <br>
        <div class="icon-text">
          <i class='fas fa-2x fa-phone' style='color: red'></i>
          <span class="callout-cols-title">07572 775710</span>
        </div>
      </div>    
    <div class="col column-2">
      <app-fadeinonscroll></app-fadeinonscroll>
    </div>
</div>

<!-- Prices -->
<!-- <div class="container" id="prices">

    <div class="col column-2" role="main">
      <mat-card class="mat-card">
        <mat-card-header>
          <div mat-card-avatar class="mat-card-avatar"></div>
          <mat-card-title>Colours</mat-card-title>
          <mat-card-subtitle>Prices From ..</mat-card-subtitle>
        </mat-card-header>

        <p>
        <mat-card-content>
              <h4>
                 <div fxFlex>Root Re-touch</div>
                 <div fxFlex><span class="mat-headline">£30</span></div> 
              </h4>
         </mat-card-content>  
        <mat-card-content>
          <h4>
             <div fxFlex>Full Head Colour</div>
             <div fxFlex><span class="mat-headline">£35</span></div> 
          </h4>
        </mat-card-content> 
        <mat-card-content>
          <h4>
             <div fxFlex>Colours & Foils</div>
             <div fxFlex><span class="mat-headline">£60</span></div> 
          </h4>
        </mat-card-content>     
        <mat-card-content>
          <h4>
             <div fxFlex>Cap Highlights</div>
             <div fxFlex><span class="mat-headline">£35</span></div> 
          </h4>
        </mat-card-content>     
        </p>
      </mat-card>
    </div>

    <div class="col column-2">
      <mat-card class="mat-card">
        <mat-card-header>
          <div mat-card-avatar class="mat-card-avatar"></div>
          <mat-card-title>Foils</mat-card-title>
          <mat-card-subtitle>Prices From ..</mat-card-subtitle>
        </mat-card-header>
        
        <p>
        <mat-card-content>
              <h4>
                 <div fxFlex>1/4 Head Foils</div>
                 <div fxFlex><span class="mat-headline">£35</span></div> 
              </h4>
         </mat-card-content>       
         <mat-card-content>
          <h4>
             <div fxFlex>1/2 Head Foils</div>
             <div fxFlex><span class="mat-headline">£40</span></div> 
          </h4>
        </mat-card-content>    
        <mat-card-content>
          <h4>
             <div fxFlex>3/4 Head Foils</div>
             <div fxFlex><span class="mat-headline">£45</span></div> 
          </h4>
        </mat-card-content>    
        <mat-card-content>
          <h4>
             <div fxFlex>Full Head Foils</div>
             <div fxFlex><span class="mat-headline">£55</span></div> 
          </h4>
     </mat-card-content>    
        </p>
      </mat-card>
    </div>

    <div class="col column-2">
      <mat-card class="mat-card">
        <mat-card-header>
          <div mat-card-avatar class="mat-card-avatar"></div>
          <mat-card-title>Styling</mat-card-title>
          <mat-card-subtitle>Prices From ..</mat-card-subtitle>
        </mat-card-header>

        <p>
          <mat-card-content>
            <h4>
               <div fxFlex>Conditioning Treatment</div>
               <div fxFlex><span class="mat-headline">£5</span></div> 
            </h4>
          </mat-card-content>    
          <mat-card-content>
            <h4>
               <div fxFlex>Blow Dry</div>
               <div fxFlex><span class="mat-headline">£10</span></div> 
            </h4>
          </mat-card-content>  
          <mat-card-content>
            <h4>
               <div fxFlex>Cut & Blow Dry</div>
               <div fxFlex><span class="mat-headline">£20</span></div> 
            </h4>
          </mat-card-content>    
        </p>
      </mat-card>
    </div>

      <div class="col column-2">
      <mat-card class="mat-card">
        <mat-card-header>
          <div mat-card-avatar class="mat-card-avatar"></div>
          <mat-card-title>Creative</mat-card-title>
          <mat-card-subtitle>Prices From ..</mat-card-subtitle>
        </mat-card-header>

        <p>
          <mat-card-content>
            <h4>
               <div fxFlex>Toner</div>
               <div fxFlex><span class="mat-headline">£8</span></div> 
            </h4>
          </mat-card-content>  

          <mat-card-content>
            <h4>
               <div fxFlex>Creative Colour</div>
               <div fxFlex><span class="mat-headline">£55</span></div> 
            </h4>
          </mat-card-content>    

          <mat-card-content>
            <h4>
               <div fxFlex>Colour Correction</div>
               <div fxFlex><span class="mat-subheading-2">Upon Consultation</span></div> 
            </h4>
          </mat-card-content>    
          
        </p>
      </mat-card>
    </div>


</div> -->


<div class="container" id="prices">


  <div class="column column-2" role="main">
    <table class="prices-table">
      <tbody>
    <!-- Colours -->
        <tr>
          <td><span style="color: purple;">
              <strong>Colours</strong></span>
          </td>
          <td class="td-s">From</td>
        </tr>
        <tr>
          <td class="td-s"></td>
        </tr>
        <tr>
          <td>Colours and Foils</td>
          <td class="td-s">£60</td>
        </tr>
        <tr>
          <td>Roots re-touch</td>
          <td class="td-s">£30</td>
        </tr>
        <tr>
          <td>Full Head Colour</td>
          <td class="td-s">£35</td>
        </tr>
        <tr>
          <td>Cap Highlights</td>
          <td class="td-s">£35</td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
        <!-- Foils -->
        <tr>
            <td><span style="color: purple;">
                <strong>Foils</strong></span>
            </td>
            <td class="td-s"></td>
          </tr>
          <tr>
            <td class="td-s"></td>
          </tr>
          <tr>
            <td>1/4 HeadFoils</td>
            <td class="td-s">£35</td>
          </tr>
          <tr>
            <td>1/2 Head Foils</td>
            <td class="td-s">£40</td>
          </tr>
          <tr>
            <td>3/4 Head Foils</td>
            <td class="td-s">£45</td>
          </tr>
          <tr>
            <td>Full Head Foils</td>
            <td class="td-s">£55</td>
          </tr>
          <tr>
            <td class="td-s"></td>
          </tr>
          <tr>          


      </tbody>
    </table>
  </div>

  <div class="column column-2" role="main">
    <table class="prices-table">
      <tbody>
    <!-- Colours -->
        <tr>
          <td><span style="color: purple;">
              <strong>Styling</strong></span>
          </td>
          <td class="td-s">From</td>
        </tr>
        <tr>
          <td class="td-s"></td>
        </tr>
        <tr>
          <td>Conditioning Treatment</td>
          <td class="td-s">£5</td>
        </tr>
        <tr>
          <td>Blow Dry</td>
          <td class="td-s">£10</td>
        </tr>
        <tr>
          <td>Cut & Blow Dry</td>
          <td class="td-s">£20</td>
        </tr>
        <tr>
          <td></td>
          <td class="td-s"></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
        <!-- Foils -->
        <tr>
            <td><span style="color: purple;">
                <strong>Creative</strong></span>
            </td>
            <td class="td-s"></td>
          </tr>
          <tr>
            <td class="td-s"></td>
          </tr>
          <tr>
            <td>Toner</td>
            <td class="td-s">£8</td>
          </tr>
          <tr>
            <td>Creative Colour</td>
            <td class="td-s">£55</td>
          </tr>
          <tr>
            <td>Full Head Foils</td>
            <td class="td-s">£55</td>
          </tr>
          <tr>
            <td>Colour Correction</td>
            <td class="td-s">Upon Consultation</td>
          </tr>
          <tr>
            <td class="td-s"></td>
          </tr>
          <tr>          


      </tbody>
    </table>
  </div>

</div>


<!-- <button mat-fab color="accent" style="float: left">Gallery</button> -->
<!-- <div appParallax [ratio]="0.6" id="container"></div> -->
<!-- <div appParallaxCDK [ratio]="0.6" id="id1"></div> -->
